body {
    font-family: Arial;
    text-align: left;
}
table {
    background-color:#5f5f5f;
    width:500px;
    border: 0;
}
th {
    font-size: 26px;
    font-weight: 100;
    color: #9ba7ab;
    padding:10px 0;
}
td {
    vertical-align: top;
    padding-bottom: 15px;
    font-size: 16px;
}
tr > td:first-child {
    font-style: italic;
    font-weight: bold;
    color: #CCCCCC;
    width: 30%;
}
tr > td:last-child {
    color: #9ba7ab;
}
a {
    color: blanchedalmond;
    text-decoration: none;
}
p {
    margin:0;
}
.red {
    color:#CC0000;
    font-weight:bold;   
}
.name {
    color:blanchedalmond;
}
p.name:before {
    content:"•";
    font-size:50px;
    line-height:16px;
    vertical-align:top;
    color:#77b880;
}
.orange {
    color:#da6f34;
    font-weight:bold;   
}
dl {
    background-color:#5f5f5f;
    width:500px;
}
dt {
    font-size:16px;
    font-style: italic;
    font-weight: bold;
    color:#CCCCCC;
    width:30%;
    float:left;
    clear:left;
    
}

.title {    
    font-size: 26px;
    font-style:normal;
    font-weight:100;
    color: #9ba7ab;
    padding:10px 0;
    width:100%;
}
dd {
    vertical-align: top;
    padding-bottom: 15px;
    font-size: 16px;
    width:70%;
    margin-left:150px;
    color: #9ba7ab;
}