body,
header,
section,
footer,
article,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
p,
fieldset,
nav,
ul,
li,
a,
span,
strong,
em {
  margin: 0;
  padding: 0;
  border: 0;
}
div,
h1,
h3,
h4,
h5,
h6,
header,
footer,
body,
section,
nav,
article,
aside {
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.gradient {
  background: #d392fe;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzOTJmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzhmMTllZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzkyMTVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d392fe), color-stop(25%, #8f19ef), color-stop(70%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d392fe', endColorstr='#9215f2', GradientType=0);
  /* IE6-8 */
}
.bodyfont {
  font: 14px normal Arial;
  color: white;
}
.clearfix,
body header div#header-container,
body header nav,
body header nav ul,
body header nav ul li ul.sub-nav-list,
body section,
body aside {
  zoom: 1;
}
.clearfix:after,
body header div#header-container:after,
body header nav:after,
body header nav ul:after,
body header nav ul li ul.sub-nav-list:after,
body section:after,
body aside:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
body {
  font: 14px normal Arial;
  color: white;
}
body header {
  padding-top: 25px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
body header nav {
  display: inline-block;
  width: 75%;
  margin: 20px 20px 20px 20px;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 15px;
}
body header nav ul li {
  float: left;
  margin: 0;
}
body header nav ul li ul li {
  float: none;
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
body header nav ul li ul li:last-of-type {
  border-bottom: none;
}
body header nav ul li ul li > a {
  font-size: 1.2em;
  color: #fff;
}
body header nav ul li ul.sub-nav-list {
  position: absolute;
  display: none;
  background-color: rgba(179, 94, 243, 0.9);
  border-radius: 5px;
}
body header nav ul li:hover > a {
  text-decoration: underline;
  color: #a8a8a8;
}
body header nav ul li + ul {
  display: block;
}
body header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: white;
  font: 1.4em normal Arial;
}
body header nav ul li a.selected {
  font-weight: bold;
}
body header nav ul.nav-list {
  list-style-type: none;
}
body header div#header-container div#logo-container {
  float: left;
  position: relative;
}
body header div#reg-form-container {
  float: right;
  position: relative;
  right: 5%;
  top: 50%;
}
body header div#reg-form-container button {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 1px solid #603382;
  border-style: outset;
  border-radius: 10px;
  padding: 5px 8px;
  color: white;
  background-color: transparent;
}
body header div#reg-form-container button:hover {
  background-color: #8949b9;
  border-style: inset;
}
body header div#reg-form-container div {
  text-align: right;
}
body header div#reg-form-container div label {
  width: 50px;
  margin: 5px;
}
body header div#reg-form-container div input {
  width: 130px;
  border: 1px solid #603382;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px;
  background-color: #b35ef3;
}
body section {
  width: 75%;
  float: left;
  color: black;
}
body section article {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
}
body section article footer {
  padding: 5px;
}
body section article footer p {
  font-size: 16px;
  text-align: right;
  font-weight: normal;
}
body section article footer p a {
  text-decoration: none;
  color: #d392fe;
}
body section article footer p a:hover {
  text-decoration: underline;
}
body section article footer p time {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}
body section article header {
  background: none;
  padding: 5px;
}
body section article header h1 {
  font-size: 1.4em;
  padding: 0;
}
body aside {
  float: left;
  width: 20%;
  margin: 20px;
}
body aside > ul {
  list-style-type: none;
}
body aside > ul > li {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
body aside > ul > li ul {
  list-style-type: none;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0px;
}
body aside > ul > li ul li {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  background: url(images/li-dot.png) no-repeat;
  background-position: 0 50%;
  padding-left: 25px;
}
body aside > ul > li p {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 14px;
}
body aside > ul > li p em {
  color: #cccccc;
  font-weight: normal;
  font-style: italic;
}
body aside > ul > li p strong {
  color: #cccccc;
  font-weight: bold;
  font-style: normal;
}
body aside > ul > li p a {
  color: #aaaaaa;
  text-decoration: none;
}
body aside > ul > li h2 {
  font-size: 1.1em;
  font-weight: bold;
}
body footer {
  clear: both;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
body footer p {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
#container {
  background: #d392fe;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzOTJmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzhmMTllZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzkyMTVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d392fe), color-stop(25%, #8f19ef), color-stop(70%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d392fe 0%, #8f19ef 25%, #9215f2 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d392fe', endColorstr='#9215f2', GradientType=0);
  /* IE6-8 */
}
